$h-default: 32px;
$h-small: 20px;
$h-large: 48px;
$white: #fff;
$default-color: #333;
$info-color: #909399;
$success-color: #85ce61;
$warning-color: #f0a020;
$danger-color: #d03050;
$default-border-color: #d9d9d9;
$radius: 3px;

.q-button {
  box-sizing: border-box;
  height: $h-default;
  background-color: #fff;
  padding: 0 12px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border-radius: $radius;
  box-shadow: 0 1px 0 fade-out(black, 0.95);
  transition: all 250ms;
  color: $default-color;
  border: 1px solid $default-border-color;
  user-select: none;

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &.q-size-large {
    font-size: 24px;
    height: $h-large;
    padding: 0 16px;
  }
  &.q-size-small {
    font-size: 12px;
    height: $h-small;
    padding: 0 8px;
  }

  &.is-round.q-size-default {
    border-radius: calc($h-default / 2);
  }
  &.is-round.q-size-large {
    border-radius: calc($h-large / 2);
  }
  &.is-round.q-size-small {
    border-radius: calc($h-small / 2);
  }

  &.q-type-default {
    &:hover {
      color: $primary-color;
      border-color: $primary-color;
    }
    &.is-disabled {
      cursor: not-allowed;
      background: #fff;
      border-color: #e4e7ed;
      &:hover {
        color: $default-color;
        background: #fff;
        border-color: #e4e7ed;
      }
    }
    &:active {
      color: darken($primary-color, 20%);
      border-color: darken($primary-color, 20%);
    }
    &.q-type-dashed {
      border-style: dashed;
    }
    > .q-loadingIndicator {
      border-color: $default-color $default-color $default-color transparent;
    }
  }
  &.q-type-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $white;

    &:hover {
      background: lighten($primary-color, 20%);
      border-color: lighten($primary-color, 20%);
    }
    &:active {
      background-color: darken($primary-color, 20%);
      border-color: darken($primary-color, 20%);
    }

    &.is-disabled {
      cursor: not-allowed;
      background: lighten($primary-color, 20%);
      border-color: lighten($primary-color, 20%);
      &:hover {
        background: lighten($primary-color, 20%);
        border-color: lighten($primary-color, 20%);
      }
    }

    &.q-type-dashed {
      border-style: dashed;
      background-color: $white !important;
      color: $primary-color;
    }
  }

  &.q-type-info {
    background-color: $info-color;
    border-color: $info-color;
    color: $white;
    &:hover {
      background: lighten($info-color, 20%);
      border-color: lighten($info-color, 20%);
    }
    &:active {
      background-color: darken($info-color, 20%);
      border-color: darken($info-color, 20%);
    }

    &.is-disabled {
      cursor: not-allowed;
      background: lighten($info-color, 20%);
      border-color: lighten($info-color, 20%);
      &:hover {
        background: lighten($info-color, 20%);
        border-color: lighten($info-color, 20%);
      }
    }

    &.q-type-dashed {
      border-style: dashed;
      background-color: $white !important;
      color: $info-color;
    }
  }

  &.q-type-success {
    background-color: $success-color;
    border-color: $success-color;
    color: $white;
    &:hover {
      background: lighten($success-color, 20%);
      border-color: lighten($success-color, 20%);
    }
    &:active {
      background-color: darken($success-color, 20%);
      border-color: darken($success-color, 20%);
    }

    &.is-disabled {
      cursor: not-allowed;
      background: lighten($success-color, 20%);
      border-color: lighten($success-color, 20%);
      &:hover {
        background: lighten($success-color, 20%);
        border-color: lighten($success-color, 20%);
      }
    }

    &.q-type-dashed {
      border-style: dashed;
      background-color: $white !important;
      color: $success-color;
    }
  }

  &.q-type-warning {
    background-color: $warning-color;
    border-color: $warning-color;
    color: $white;
    &:hover {
      background: lighten($warning-color, 20%);
      border-color: lighten($warning-color, 20%);
    }
    &:active {
      background-color: darken($warning-color, 20%);
      border-color: darken($warning-color, 20%);
    }

    &.is-disabled {
      cursor: not-allowed;
      background: lighten($warning-color, 20%);
      border-color: lighten($warning-color, 20%);
      &:hover {
        background: lighten($warning-color, 20%);
        border-color: lighten($warning-color, 20%);
      }
    }

    &.q-type-dashed {
      border-style: dashed;
      background-color: $white !important;
      color: $warning-color;
    }
  }

  &.q-type-danger {
    background-color: $danger-color;
    border-color: $danger-color;
    color: $white;
    &:hover {
      background: lighten($danger-color, 20%);
      border-color: lighten($danger-color, 20%);
    }
    &:active {
      background-color: darken($danger-color, 20%);
      border-color: darken($danger-color, 20%);
    }

    &.is-disabled {
      cursor: not-allowed;
      background: lighten($danger-color, 20%);
      border-color: lighten($danger-color, 20%);
      &:hover {
        background: lighten($danger-color, 20%);
        border-color: lighten($danger-color, 20%);
      }
    }

    &.q-type-dashed {
      border-style: dashed;
      background-color: $white !important;
      color: $danger-color;
    }
  }

  > .q-loadingIndicator {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
    border-color: $white $white $white transparent;
    border-style: solid;
    border-width: 2px;
    animation: q-spin 1s infinite linear;
  }

  &.is-loading {
    pointer-events: none !important;
  }
}

@keyframes q-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
